:host {
  display: block;
}

.size-small {
  zoom: 1;
}

.size-medium {
  zoom: 2;
}

.size-large {
  zoom: 3;
}

ion-icon.danger {
  color: #ef5350;
}

ion-icon.warning {
  color: #ffbb33;
}

ion-icon.success{
  color: #00C851;
}

ion-icon.info {
  color: #33b5e5;
}

gap-extra-small {
  margin-right: 2px;
}

.gap-small {
  margin-right: 5px;
}

.gap-medium {
  margin-right: 10px;
}

.gap-large {
  margin-right: 20px;
}

.wrap {
  height: 48px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.wrap>*:first-child {
  align-self: flex-start;
}

.wrap .wrap-label {
  align-self: flex-start;
}

